* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  --interseccionColor: rgb(255, 249, 245);
}
.interseccion {
  background-color: var(--interseccionColor);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  min-height: 350px;
}

.socialMedia {
  background-color: var(--interseccionColor);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
  min-height: 350px;
}

#we {
  gap: 5rem;
}

.homePage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 75%;
}

#routeDeQueVaEsto {
  background-image: url('../../../public/img/deQueVaEsto.jpg');
}
#routeComents {
  background-image: url('../../../public/img/coments.jpg');
}
#routeNuestrosPrincipios {
  background-image: url('../../../public/img/nuestrosPrincipios.jpg');
}
#routeQueTeEstaEsperando {
  background-image: url('../../../public/img/queTeEstaEsperando.jpg');
}

.textHPage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 4rem;
}

.background-img {
  display: flex;
  height: 650px;
}

#deQueVaEsto {
  background-image: url('../../../public/img/deQueVaEsto2.jpg');

  display: flex;
  justify-content: right;
}

#nuestrosPrincipios {
  background-image: url('../../../public/img/nuestrosPrincipios2.jpg');
}
#queTeEstaEsperando {
  background-image: url('../../../public/img/queTeEstaEsperando2.jpg');
  display: flex;
  justify-content: right;
}

#instagram {
  background-image: url('../../../public/silueta/instagram.png');
}
#gmail {
  background-image: url('../../../public/silueta/gmail.png');
}
#facebook {
  background-image: url('../../../public/silueta/facebook.png');
}

#comment1 {
  background-image: url('../../../public/img/comments2.jpg');
}
#comment2 {
  background-image: url('../../../public/img/comments1.jpg');
}
#comment3 {
  background-image: url('../../../public/img/comments2.jpg');
}
.interseccionBlanco {
  height: 200px;
  background-color: var(--interseccionColor);
}

@media (max-width: 500px) {
  .textHPage {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .textHPage {
    padding: 0;
  }

  .socialMedia {
    min-height: 0;
    justify-content: center;
  }
}

@media (max-width: 964px) {
  #deQueVaEsto {
    justify-content: center;
  }
}
