.route {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.349);
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 75%;
  text-decoration: none;
}

.route-content {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .route {
    width: 6.5rem;
    height: 6.5rem;
  }

  .route a {
    font-size: 11px;
  }
}
