header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background-image: url('../../../public/img/imgHomePage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.headerTop {
  display: flex;
  justify-content: space-between;
}
header .headerTop img {
  margin: 1.5rem 0 1.5rem 3rem;
  border-radius: 25%;
}

#inputSearch {
  width: max-content;
  height: max-content;
  position: absolute;
  top: 7rem;
  right: 2%;

  margin: auto;
}
#inputSearch > input {
  background-color: blue;
  height: 3rem;
  width: 20rem;
  border-radius: 25px;
  padding: 1rem;
  background-color: rgba(245, 245, 245, 0.418);
  border: 1px solid black;
  box-shadow: 1px 1px 1px rgba(245, 245, 245, 0.418);
  outline: 0;
}
#inputSearch > button {
  margin-left: -2rem;
}
/* ................... */
header .headerTop menu {
  height: max-content;
  margin: 1.5rem;
  padding: 1rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
header .headerTop nav {
  background-color: rgba(53, 44, 41, 50%);
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  align-items: center;
}
header .headerTop menu nav a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
header .headerTop menu nav button {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.profile-menu {
  display: flex;
  flex-direction: column;
}
header .headerBody {
  margin-right: 2rem;
  padding-left: 4rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 32px;
}
header .headerBody p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
header .headerButton {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
header .headerButton button {
  padding: 1rem 3rem;
  border-radius: 30px;
  background-color: rgba(30, 52, 77, 100%);
  color: white;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  transition: background 0.5s;
}
header .headerButton button:hover {
  background-color: transparent;
  cursor: pointer;
}
.close-nav {
  display: none;
}
.toggle-menu {
  width: 30px;
  height: 30px;
}

.nav-button {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding: 5px 0;
}

.toggle-button {
  background-color: transparent;
  height: auto;
  border: 0;
  margin-right: 50px;
}

.toggle-button1 {
  display: none;
}

@media (max-width: 720px) {
  header .headerBody {
    font-size: 20px;
    margin: auto;
    padding: 0 10px;
  }

  header .headerBody > h1 {
    text-align: center;
  }
}

@media (max-width: 500px) {
  header .headerBody {
    font-size: 16px;
    margin: auto;
    padding: 0 10px;
  }

  header .headerBody > h1 {
    text-align: center;
  }
}
@media (max-width: 600px) {
  header .headerTop menu nav {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    display: block;
    margin-top: 20px;
  }

  .toggle-button1 {
    display: block;
    background-color: transparent;
    height: auto;
    border: 0;
    margin-right: 50px;
    width: 100%;
  }
  .responsive-nav {
    width: 70%;
  }

  .nav-button {
    padding: 5px;
    font-size: 14px;
  }

  .headerTop-responsive {
    display: block;
  }

  header .headerTop menu nav:nth-child() {
    padding: 5px 0;
  }

  .nav-element {
    padding: 5px;
  }

  .close-nav {
    display: block;
    width: 30px;
    height: 30px;
    float: right;
  }

  header .headerTop menu {
    border: none;
  }
}
