.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal.open {
  display: flex;
}
.modal-container {
  position: relative;
  background-color: #f4d4c1;
  min-width: 30rem;
  overflow-y: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 20rem;
  padding: 10px;
}
.modal-close:hover {
  cursor: pointer;
}

.content {
  height: 100%;
  width: 100%;
}

@media (max-width: 780px) {
  .modal.open {
    height: 100%;
  }
}

@media (max-width: 720px) {
  .modal-container {
    height: 80%;
    min-width: 0;
  }
}

@media (max-width: 600px) {
  .modal-container {
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 500px) {
  .modal-container {
    height: 100%;
  }
}
