.stars[type='radio'] {
  display: none;
}

.label-stars {
  color: grey;
}

.ranking {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.label-stars:hover,
.label-stars:hover ~ .label-stars {
  color: orange;
}
.stars[type='radio']:checked ~ .label-stars {
  color: orange;
}
