li a {
  text-decoration: none;
  color: black;
}
section.actividad {
  display: flex;
  gap: 2rem;
  /*  justify-content: center; */
  justify-content: start;
}
.description-activity {
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.listaActividades {
  background-color: red;
  padding: 2rem;
  flex-shrink: 0;
}
.actividadF_P {
  display: flex;
  min-width: 10rem;
  justify-content: space-between;
  padding-top: 1rem;
}

.texto {
  word-break: break-all;
  height: 40px;
  overflow: auto;
}

.lapiz {
  display: block;
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
  background-image: url('../../../public/silueta/editar.png');
}

.socialNetworks {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.activity-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
#miniInstagram {
  background-image: url('../../../public/silueta/instagram.png');
  width: 3rem;
  height: 3rem;
}

#miniFacebook {
  background-image: url('../../../public/silueta/facebook.png');
  width: 3rem;
  height: 3rem;
}

.activity-flex {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
