input:required:invalid {
  background-color: rgba(128, 128, 127, 0.493);
}

textarea:required:invalid {
  background-color: rgba(128, 128, 127, 0.493);
}
.companyForm {
  /* background-color: aqua; */
  margin: 2rem 5rem;
}
.companyPhotoHeader {
  margin: auto;
}

.companyForm input {
  height: 40px;
  width: 25rem;
  display: flex;

  outline: none;

  font-family: Montserrat;
  /* border: transparent; */
  border: solid thin black;
  border-radius: 25px;

  padding: 0 10px;

  font-style: normal;
  font-weight: bold;
}
