.button-modal {
  height: 25px;
  width: 10rem;
  display: flex;
  outline: none;
  border-radius: 7px;
  align-items: center;
  font-size: 13px;
  line-height: 21px;
  color: white;
  border: transparent;
  background-color: grey;
  justify-content: center;
  margin-top: 1rem;
  z-index: 3;
}

.button-modal:hover {
  box-shadow: 1px 0px 10px black;
  cursor: pointer;
  background-color: rgb(82, 80, 80);
}

.delete {
  height: 25px;
  width: 10rem;
  display: flex;
  outline: none;
  border-radius: 7px;
  font-size: 13px;
  line-height: 21px;
  color: white;
  border: transparent;
  background-color: grey;
  justify-content: center;
  margin-top: 1rem;
}
.delete:hover {
  box-shadow: 1px 0px 10px black;
  cursor: pointer;
  background-color: rgb(82, 80, 80);
}
.title-modal {
  z-index: 1;
  margin: 3rem;
}
.modal-close {
  color: red;
  position: absolute;
}

.review-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 42px !important;
  line-height: 24px;
}

.circle-back {
  width: 15rem;
  height: 15rem;
  background-color: crimson;
  position: absolute;
  border-radius: 50rem;
  top: -120px;
  right: 20rem;
  z-index: 1;
}
.modal-container {
  min-width: 45rem;
}

@media (max-width: 600px) {
  .modal-container {
    min-width: 0;
    width: 100%;
    border-radius: 0;
  }
}
