body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
  align-items: center;
}

.back-svg {
  width: 40px;
  height: auto;
  color: white;
}
.width-full {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.divide + .divide {
  border-left: 1px solid black;
}
