.simpleHeader {
  min-height: 20vh;
  padding-bottom: 2.5rem;
}
.simpleHeader > .headerButton {
  display: none;
}

#companyForm .buttonForm {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#companyForm button {
  padding: 1rem 3rem;
  border-radius: 30px;
  background-color: rgba(30, 52, 77, 100%);
  color: white;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  transition: background 0.5s;
}
#companyForm button:hover {
  background-color: transparent;
  cursor: pointer;
  color: rgba(30, 52, 77, 100%);
}
