/* .activity-box {
  position: relative;
  width: 100%;
} */

.question-box {
  background-color: #4c4d37;
  width: 553px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 36px;
  height: 150px;
  right: 50px;
  z-index: 10;
}

.question-box-right {
  background-color: #4c4d37;
  width: 553px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 36px;
  left: 100px;
  height: 150px;
  z-index: 10;
  text-align: center;
}

.company-div h2 {
  text-align: end;
  margin-bottom: 30px;
}
.question {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: white;
  line-height: 20px;
}

.answer-box {
  width: 506px;
  border-radius: 20px;
  background: linear-gradient(180deg, #6c6d52 0%, #587a8d 100%);
  border-radius: 20px;
  padding: 60px 30px;
  position: absolute;
  height: auto;
  max-height: 40rem;
  overflow: auto;
  top: 144px;
  right: 0;
}

.answer-box-right {
  width: 506px;
  border-radius: 20px;
  background: linear-gradient(180deg, #6c6d52 0%, #587a8d 100%);
  border-radius: 20px;
  padding: 60px 30px;
  position: absolute;
  top: 144px;
  overflow: auto;
  left: 50px;
  text-align: left;
}

.answer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  max-height: 25rem;
  color: white;
}

.login-register {
  padding-top: 30px;
}

.activity {
  width: 80%;
  position: relative;
}

.activity-odd {
  justify-content: end;
  text-align: end;
  display: flex;
}

.activity-img {
  width: 43rem;
  height: 43rem;
  border-radius: 50%;
  filter: drop-shadow(6px 6px 23px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}

.element + .element {
  margin-top: 10rem;
}

@media (max-width: 1440px) {
  .activity {
    width: 100%;
    position: initial;
    margin: auto;
    text-align: center;
  }
  .element + .element {
    margin-top: 5rem;
  }

  .activity:nth-child(odd) {
    text-align: center;
  }

  .question-box {
    position: initial;
    width: 60%;
  }

  .question-box-right {
    position: initial;
    width: 60%;
  }

  .question-box:nth-child(even) {
    position: initial;
    margin: 10px auto;
  }

  .question-box-right:nth-child(even) {
    position: initial;
    margin: 10px auto;
  }

  .answer-box {
    position: initial;
    margin: auto;
    width: 60%;
  }

  .answer-box-right {
    position: initial;
    margin: auto;
    width: 60%;
  }
}

@media (max-width: 1030px) {
  .activity {
    width: 100%;
  }

  .question-box:nth-child(even) {
    width: 90%;
  }

  .answer-box {
    width: 90%;
  }

  .question-box-right:nth-child(even) {
    width: 90%;
  }

  .answer-box-right {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .question-box:nth-child(even) {
    width: 100%;
    border-radius: 0;
    margin: 0 0 0 0;
  }

  .answer-box {
    width: 100%;
    border-radius: 0;
  }

  .question-box-right:nth-child(even) {
    width: 100%;
    border-radius: 0;
    margin: 0 0 0 0;
  }

  .answer-box-right {
    width: 100%;
    border-radius: 0;
  }

  .activity-img {
    height: 25rem;
  }

  .company-div h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  .activity + .activity {
    border-top: 0;
    margin-top: 30px;
    padding-top: 30px;
  }
}

@media (max-width: 720px) {
  .activity-img {
    width: 100%;
    border-radius: 0;
  }
}
