.input-element {
  width: 100%;
  height: 53px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  outline: none;
  background: #5f5f5f;
  border-radius: 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  color: white;
  border: transparent;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  padding: 0 10px;
}

.my-experiences {
  width: full;
  height: 80%;
  overflow: auto;
  padding: 0 40px;
  text-decoration: none;
  list-style-type: none;
  margin-top: 50px;
}

.add-review-button {
  background: rgba(0, 163, 255, 0.79);
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  padding: 5px 10px;
}

.circle-content button {
  border: 0;
  cursor: pointer;
}
.add-review-button:hover {
  background-color: rgba(127, 205, 250, 0.79);
  transition-duration: 0.2s;
}
.experience-content {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}

.my-experience + .my-experience {
  margin-top: 34px;
}
.experience-avatar {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: red;
}
.avatar-div {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 0;
}

.back-button {
  border: 0;
}

.avatar-profile {
  width: 146px;
  height: 146px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
  background-color: rgb(133, 90, 90);
}
.user-avatar:hover {
  cursor: pointer;
}

.profile-options {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  margin: 45px auto 0 auto;
  text-decoration: none;
  color: black;
}
.textarea-element {
  scroll-behavior: auto;
  overflow: auto;
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  outline: none;
  background: #5f5f5f;
  border-radius: 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  color: white;
  border: transparent;
  margin-top: 15px;
  padding: 10px;
}
.input-element::placeholder {
  color: white;
}
/* PERFIL */
.my-experience {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
}
.my-experience h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.my-experience-img {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.my-experiences > li + .my-experience > li {
  margin-top: 20px;
}

.experience-error h1 {
  font-size: 16px;
}

.my-experience-content {
  margin-left: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

/* CSS Avatar */

.label-element {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: block;
  text-align: left;
  width: 70%;
  margin: 20px auto;
  padding: 0 10px;
}

.profile-label-element {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: block;
  margin-bottom: 46px;
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.background-color-1 {
  background-color: #fff9f5;
  position: absolute;
  border-radius: 50%;
  padding-left: 4rem;
  width: 400rem;
  height: 400rem;
  left: -40rem;
  top: 7rem;
  padding-bottom: 9.6rem;
}
.background-color-2 {
  background-color: #f4d4c1;
  position: absolute;
  border-radius: 50%;
  padding-left: 4rem;
  width: 400rem;
  height: 400rem;
  left: 0rem;
  top: 10rem;
  padding-bottom: 9.6rem;
}
.form-profile {
  position: absolute;
  left: 50rem;
  top: -3rem;
}

/* .input-element {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  margin-top: 5px;
}
.label-element {
  font-weight: normal;
  margin-bottom: 35px;
} */

.password {
  position: absolute;
  right: 40rem;
}

.modal2 {
  width: 100%;
  background: #f4d4c1;
  text-align: center;
  position: relative;
  bottom: 0;
  z-index: 1;
  padding: 20px 0px 40px 0px;
}
.modal3 {
  width: 100%;
  background: #f8efef;
  text-align: center;
  position: relative;
  bottom: 0;
  height: 50%;
  z-index: 0;
  padding: 20px 0px 40px 0px;
}
.modal4 {
  width: 100%;
  background: #fff9f5;
  text-align: center;
  position: relative;
  bottom: 0;
  height: 60%;
  z-index: 0;
  padding: 20px 0px 40px 0px;
}

.align-modal {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.blue-button {
  padding: 1rem 1.5rem;
  background: rgba(0, 163, 255, 0.79);
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
  white-space: nowrap;
  min-width: 200px;
}
.blue-button:hover {
  background-color: rgba(127, 205, 250, 0.79);
  transition-duration: 0.2s;
}

.modal1 > h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 68px;
  text-align: center;
  padding: 40px 10px;
  text-decoration: underline;
  position: relative;
  z-index: 5;
}

.confirmation {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 21px;
  color: black;
  padding: 30px 10px;
}
.modal-box {
  width: 65%;
  position: relative;
  height: auto;
  margin: auto;
  overflow: hidden;
  border-radius: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.password-box {
  width: 35%;
  position: relative;
  height: auto;
  margin: auto;
  overflow: hidden;
  border-radius: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal1 {
  height: 200px;
  width: 100%;
  background-color: white;
}

.input-password {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 17px;
  font-family: Montserrat;
  line-height: 27px;
}

.modal1-profile {
  height: 200px;
  width: 100%;
  background-color: white;
}

.circle-background {
  width: 100%;
  background-color: #f4d4c1;
  height: 280px;
  position: absolute;
  top: -140px;
  border-radius: 50%;
  z-index: -3;
}
.circle-background2 {
  width: 100%;
  background-color: #f8efef;
  height: 280px;
  position: absolute;
  top: -140px;
  border-radius: 50%;
  z-index: -4;
}
.circle-background3 {
  width: 100%;
  background-color: #fff9f5;
  height: 280px;
  position: absolute;
  top: -140px;
  border-radius: 50%;
  z-index: -5;
}
.form-elements {
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px;
}

.profile-elements {
  margin: auto;
  text-align: center;
  padding: 0 10px;
}
.modal-circle {
  position: absolute;
  width: 440px;
  height: 425px;
  left: -104px;
  top: -187px;
  background-color: rgba(0, 163, 255, 0.79);
  border-radius: 50%;
}

.circle-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
  position: relative;
  z-index: 10;
  max-width: 280px;
  margin-top: 50px;
}

.circle-content {
  margin: 20px 10px 40px 40px;
}

.goback {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  position: relative;
  z-index: 10;
}
.delete-message {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  padding: 0 10px;
}

div > .error-msg {
  color: red;
  display: block;
  background-color: black;
}

.back-svg {
  position: relative;
  z-index: 3;
  color: white;
  height: auto;
  width: 20px;
  margin-right: 10px;
}

.bookings {
  padding: 0 10px;
}

.delete-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.profile-flex {
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 50%;
}

.profile + .profile {
  border-left: 1px solid black;
}

.blue-button + .blue-button {
  margin-left: 75px;
}

@media (max-width: 1530px) {
  .bookings {
    display: block;
  }
}

@media (max-width: 1400px) {
  .form-elements {
    display: block;
  }
  .modal-box {
    height: 100%;
  }

  .profile-flex {
    display: block;
  }

  .profile {
    width: 100%;
  }

  .my-experiences {
    width: 70%;
    margin: 40px auto;
  }

  .profile + .profile {
    border-left: none;
    border-top: 1px solid black;
    margin-top: 30px;
    padding-top: 30px;
  }
}

@media (max-width: 450px) {
  .form-elements {
    width: 80%;
  }
  .label-element {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .modal-box {
    width: 100%;
  }

  .circle-background {
    display: none;
  }

  .circle-background2 {
    display: none;
  }

  .circle-background3 {
    display: none;
  }
  .modal3 {
    display: none;
  }

  .modal4 {
    display: none;
  }

  .modal-circle {
    width: 100%;
    left: 0;
    border-radius: 25%;
  }

  .modal1 {
    background: #f4d4c1;
    height: 200px;
  }
  .circle-content button {
    border: 0;
    background-color: transparent;
  }
  .form-titles {
    text-align: center;
    justify-content: center;
    background: #f4d4c1;
  }
  .modal-box {
    background: #f4d4c1;
    border-radius: 0;
  }

  .circle-name {
    text-align: center;
    margin: 50px auto;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  .circle-content {
    margin: 20px 10px 40px 10px;
  }

  .goback {
    justify-content: center;
    position: initial;
  }

  .align-modal {
    margin: 0;
  }

  .modal1-profile {
    background-color: #f4d4c1;
  }

  .avatar-div {
    z-index: 10;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
  }

  .avatar-profile {
    width: 100px;
    height: 100px;
    margin: auto;
  }
}
@media (max-width: 550px) {
  .blue-button {
    display: block;
    margin: 20px auto;
  }
  .blue-button + .blue-button {
    margin: auto;
  }

  .my-experiences {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .my-experience {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .my-experience-img {
    margin: 10px auto;
  }

  .my-experiences {
    margin-top: 20px;
  }

  .add-review-button {
    margin-top: 20px;
  }

  .my-experience-content div {
    flex-direction: column;
    margin-top: 15px;
  }

  .my-experience-content {
    margin-left: 0;
  }
}
