.go-top-container {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 1;
}
.go-top-button {
  
  width: 4.6rem;
  height: 4.6rem;
  z-index: 11;
  background-color: #2071b2;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  color: white;
  transition: 0.2s;
}
.arrow-up {
  background-size: contain;
  font-size: 0;
  height: 1.5rem;
  width: 0.75rem;
  background-image: url('../../../public/silueta/flecha-arriba.png');
}
.arrow-down {
  background-size: contain;
  font-size: 0;
  height: 1.5rem;
  width: 0.75rem;
  background-image: url('../../../public/silueta/flecha-abajo.png');
}

@media (max-width: 768px) {
  .go-top-button {
    display: none;
  }
}
