.photos-form {
  background-color: #f4d4c1;
  margin: 5rem auto;
  min-height: 10rem;
  padding: 10px;
  border-radius: 20px;
  width: 50rem;
  text-align: center;
}

.photo-form-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 68px;
  text-align: center;
  padding: 40px 10px;
  text-decoration: underline;
  position: relative;
  z-index: 5;
}

.upFiles .flex-form-photos {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-around;
}
.upFiles input {
  display: flex;
  outline: none;

  font-family: Montserrat;
  /* border: transparent; */
  border: solid thin black;
  border-radius: 25px;

  padding: 0 10px;

  font-style: normal;
  font-weight: bold;
}

@media (max-width: 400px) {
  .upFiles {
    background-color: aqua;
  }
}
