.background-color-1 {
  background-color: #fff9f5;
  position: absolute;
  border-radius: 50%;
  padding-left: 4rem;
  width: 400rem;
  height: 400rem;
  left: -40rem;
  top: 7rem;
  padding-bottom: 9.6rem;
}
.background-color-2 {
  background-color: #f4d4c1;
  position: absolute;
  border-radius: 50%;
  padding-left: 4rem;
  width: 400rem;
  height: 400rem;
  left: 0rem;
  top: 10rem;
  padding-bottom: 9.6rem;
}
.form-profile {
  position: absolute;
  left: 50rem;
  top: -3rem;
}

/* .input-element {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  margin-top: 5px;
}
.label-element {
  font-weight: normal;
  margin-bottom: 35px;
} */
.textarea-element {
  width: 35rem;
}

.password {
  position: absolute;
  right: 40rem;
}
