.container {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
}

.experiencia {
  padding-top: 70px;
  padding-bottom: 180px;
}

.activity-rigth {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.company-div-capacity {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .company-div-capacity {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  .company-div-capacity h2 {
    margin-bottom: 20px;
  }
}
